.init_ssh: &init_ssh |
  eval $(ssh-agent -s)
  echo "$SSH_PRIVATE_KEY" | tr -d '\r' | ssh-add - > /dev/null
  mkdir -p ~/.ssh
  chmod 700 ~/.ssh
  ssh-keyscan 178.128.123.20 >> ~/.ssh/known_hosts
  chmod 644 ~/.ssh/known_hosts
production:
stages:
  build
  deploy
  script:
    - which ssh-agent || ( apt-get update -y && apt-get install openssh-client -y )
    - *init_ssh
    - ssh root@178.128.123.20 -C "cd /path/to/your-site/ && git pull"
  environment:
    name: test
    url: https://178.128.123.20/
  only:
    - master